---   
 <img align="left" width="75" height="75"  src="https://upload.wikimedia.org/wikipedia/en/c/c8/University_of_the_Punjab_logo.png"> 

<h1 align="center">Department of Data Science</h1>
<h1 align="center">Course: Tools and Techniques for Data Science</h1>

---
<h3><div align="right">Instructor: Muhammad Arif Butt, Ph.D.</div></h3>

<h1 align="center">Lecture 3.13 (Pandas-05)</h1>

<img align="right" width="400" height="400"  src="images/pandas-apps.png"  >

## _IO with EXCEL Files.ipynb_

#### Read Pandas Documentation:
- General Info: https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html


- For `read_excel`: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html?highlight=read_excel#pandas.read_excel



- For `to_excel`: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_excel.html?highlight=to_excel#pandas.DataFrame.to_excel

## Learning agenda of this notebook
1. Reading a simple Excel File in Pandas Dataframe
2. Reading a Excel File having Comments in the beginning
3. Reading portion of Large Excel Files in Chunks
4. Excel Workbook with multiple sheets
    - Reading each sheet by name
    - Concatenating all the dataframes to one dataframe
    - Writing the combined dataframe to a single Excel sheet

In [1]:
# xlwt for  writing to xls EXCEL format
# openpyxl for writing to xlsx EXCEL format
# xlrd for reading EXCEL files
 To install this library in Jupyter notebook
import sys
!{sys.executable} -m pip install xlwt openpyxl xlrd

Collecting xlwt
  Downloading xlwt-1.3.0-py2.py3-none-any.whl (99 kB)
     |████████████████████████████████| 99 kB 663 kB/s
Requirement already satisfied: openpyxl in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (3.0.7)
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 1.7 MB/s
Requirement already satisfied: et-xmlfile in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from openpyxl) (1.1.0)
Installing collected packages: xlwt, xlrd
Successfully installed xlrd-2.0.1 xlwt-1.3.0

In [1]:
import pandas as pd
pd.__version__ , pd.__path__

('1.3.4',
 ['/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/pandas'])

## 1. Read a  Excel File in Pandas Dataframe
>Pandas is a popular Python library used for working in tabular data (similar to the data stored in a spreadsheet). Pandas provides helper functions to read data from various file formats like CSV, Excel spreadsheets, HTML tables, JSON, SQL, and more.

### Reading Excel File
The data set that we are going is use is the Sales Data. It was collected by the data scientists at BigMart for 1559 products across 10 stores in different cities.
Filename is **big_mart_sales.xlsx** residing in directory name datasets which is in current working directory

After checking the type of data You can see that the data is stored in type DataFrame

**DATAFRAME**

- DataFrame is a 2-dimensional data structure with columns that can contain different data type.
- Similar to a spreadsheet or SQL table.
- It is generally the most commonly used pandas object
- For the time being this much info will suffice for today's task, more on Pandas later

In [3]:
# read the dataset using read_csv method of pandas library
df = pd.read_excel('datasets/big_mart_sales.xlsx')

# You can see that the data is stored in type DataFrame
df

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999.0,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009.0,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999.0,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998.0,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987.0,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987.0,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002.0,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004.0,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009.0,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997.0,Small,Tier 1,Supermarket Type1,765.6700

**After reading the dataset, the first thing that we check is the size of the dataset. To get the number of rows and columns present in the dataset we have the shape attribute.**

In [4]:
# to check the dimension of the data set, we can use the shape attribute
df.shape

(8523, 12)

In [5]:
# To view the data, we can use the head(n) function. If no parameter is passed it displays top 5 rows

df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999.0,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009.0,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999.0,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998.0,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987.0,High,Tier 3,Supermarket Type1,994.7052

## 2. Reading a Excel File having Comments in the beginning
You may get an error while reading a Excel file because someone may have added few comments on the top of the file. In pandas we can still read the data set by skipping few rows from the top.

In [6]:
# As a proof of concept Read the file big_mart_sales_comments.xlsx present in the datasets directory.
# Reading this csv file will give you errors as it has few comments in the beginning of file

# read the data without skiprows
sheet_with_comments = pd.read_excel('datasets/big_mart_sales_comments.xlsx')

# view top rows of the data, that is somehow messed up
sheet_with_comments.head()

,# This is Big Mart Sales Data,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,# This is Big Mart Sales Data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,# This is Big Mart Sales Data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
3,FDA15,9.3,Low Fat,0.016047,Dairy,249.8092,OUT049,1999.0,Medium,Tier 1,Supermarket Type1,3735.138
4,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009.0,Medium,Tier 3,Supermarket Type2,443.4228

#### Use skiprows parameter to read_csv() function
- To deal with the ParseError, open the Excel file and check if you have some comments on the top.
- If yes, then count the number of rows to skip.
- While reading file, pass the parameter skiprows = n (number of rows to skip)

In [7]:
# we have seen that our csv file contain comments, so we need to skip those rows having comments
# read the dataset using skiprows parameter

# read the data with skiprows parameter
sheet_with_comments = pd.read_excel('datasets/big_mart_sales_comments.xlsx',skiprows=3)

# view the top rows of the data
sheet_with_comments.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999.0,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009.0,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999.0,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998.0,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987.0,High,Tier 3,Supermarket Type1,994.7052

## 3. Reading a portion of Excel File in a Dataframe
- Suppose the dataset inside the Excel file is too big and you dont want to spend that much time for reading that data
- Or might be your system crashes, when you try to load that much data
- solution is read
    - Specific number of rows
    - Specific number of columns

In [8]:
# As a proof of concept let us read just first 100 rows from the csv file
# In the read_excel() function, use the parameter nrows for this purpose


specific_rows = pd.read_excel('datasets/big_mart_sales.xlsx', nrows=50)

# check the shape of the data
specific_rows.shape

(50, 12)

In [9]:
# If the dataset has large number of columns, and you do not want to load all of them
# In read_excel() function, use the parameter usecols for this purpose
specific_cols = pd.read_excel('datasets/big_mart_sales.xlsx', usecols= ['Item_Identifier', 
                                                                             'Item_Type',
                                                                             'Item_MRP',
                                                                             'Item_Outlet_Sales'])


# check the shape of the data
specific_cols.shape
# view the data
#specific_cols.head()

(8523, 4)

In [10]:
# Ofcourse you can use both the parameters at the same time
fd = pd.read_excel('datasets/big_mart_sales.xlsx', nrows = 25, usecols= ['Item_Identifier', 
                                                                             'Item_Type',
                                                                             'Item_MRP',
                                                                             'Item_Outlet_Sales'])


# check the shape of the data
fd.shape
# view the data
#fd.head()

(25, 4)

## 4. Reading Excel Workbook with Multiple Sheets
- Suppose we have an Excel file having multiple sheets.
- By default read_excel() function read only the first sheet

In [11]:
# As a proof of concept, we have a excel file big_mart_sales_with_multiple_sheets.xlsx
# This workbook contains different sheets for different years 1985, 1987, 1997... of data
# read the excel sheet with multiple sheets
data_with_multiple_sheets = pd.read_excel('datasets/big_mart_sales_with_multiple_sheets.xlsx')

# if you check/view the data you can see, it only contains the data of first excel sheet (for the year 1985)
data_with_multiple_sheets

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985.0,Medium,Tier 3,Supermarket Type3,4022.7636
1,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985.0,Medium,Tier 3,Supermarket Type3,2303.6680
2,FDW12,NaN,Regular,0.035400,Baking Goods,144.5444,OUT027,1985.0,Medium,Tier 3,Supermarket Type3,4064.0432
3,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985.0,Small,Tier 1,Grocery Store,214.3876
4,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985.0,Small,Tier 1,Grocery Store,125.8362
...,...,...,...,...,...,...,...,...,...,...,...,...
1458,DRK37,NaN,Low Fat,0.043792,Soft Drinks,189.0530,OUT027,1985.0,Medium,Tier 3,Supermarket Type3,6261.8490
1459,DRG13,NaN,Low Fat,0.037006,Soft Drinks,164.7526,OUT027,1985.0,Medium,Tier 3,Supermarket Type3,4111.3150
1460,NCN14,NaN,Low Fat,0.091473,Others,184.6608,OUT027,1985.0,Medium,Tier 3,Supermarket Type3,2756.4120
1461,FDU44,NaN,Regular,0.102296,Fruits and Vegetables,162.3552,OUT019,1985.0,Small,Tier 1,Grocery Store,487.3656
1462,NCN18,NaN,Low Fat,0.124111,Household,111.7544,OUT027,1985.0,Medium,Tier 3,Supermarket Type3,4138.6128

### a. Let us read all the Sheets one after another by giving their names

In [12]:
sheet_1985 = pd.read_excel('datasets/big_mart_sales_with_multiple_sheets.xlsx',sheet_name='1985')
sheet_1987 = pd.read_excel('datasets/big_mart_sales_with_multiple_sheets.xlsx',sheet_name='1987')
sheet_1997 = pd.read_excel('datasets/big_mart_sales_with_multiple_sheets.xlsx',sheet_name='1997')

In [13]:
sheet_1985.shape

(1463, 12)

In [14]:
sheet_1987.shape

(932, 12)

In [15]:
sheet_1997.shape

(930, 12)

### b. Use the concat() Function to Make a Single Dataframe

In [16]:
# now you can use the concat method of pandas to concatenate the dataframes

# create an array of dataframes
#sheets = [sheet_1985, sheet_1987, sheet_1997]
# concatenate the array
final_data = pd.concat([sheet_1985, sheet_1987, sheet_1997])

# now you can check the unique sheets in data again
# unique years in final data
final_data.Outlet_Establishment_Year.unique()

array([1985., 1987., 1997.])

In [17]:
final_data

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985.0,Medium,Tier 3,Supermarket Type3,4022.7636
1,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985.0,Medium,Tier 3,Supermarket Type3,2303.6680
2,FDW12,NaN,Regular,0.035400,Baking Goods,144.5444,OUT027,1985.0,Medium,Tier 3,Supermarket Type3,4064.0432
3,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985.0,Small,Tier 1,Grocery Store,214.3876
4,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985.0,Small,Tier 1,Grocery Store,125.8362
...,...,...,...,...,...,...,...,...,...,...,...,...
925,FDC28,7.905,Low Fat,0.054987,Frozen Foods,108.6254,OUT046,1997.0,Small,Tier 1,Supermarket Type1,1844.9318
926,FDB17,13.150,Low Fat,0.036672,Frozen Foods,182.5976,OUT046,1997.0,Small,Tier 1,Supermarket Type1,4165.2448
927,FDT34,9.300,Low Fat,0.174350,Snack Foods,104.4964,OUT046,1997.0,Small,Tier 1,Supermarket Type1,2419.5172
928,FDF53,20.750,reg,0.083607,Frozen Foods,178.8318,OUT046,1997.0,Small,Tier 1,Supermarket Type1,3608.6360
929,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997.0,Small,Tier 1,Supermarket Type1,765.6700

#### Note the total number of rows in this dataframe equals to 3325 = 1463+932+930

### c. Store the Contents of this Dataframe to a Single Excel Sheet

In [18]:
# you can store the concatenated data inside your dataframe into a single Excel file
# mention the index= false because we don't want to store the index 1,2,3,... in the Excel file.

final_data.to_excel('temp.xlsx', index=False)

#final_data.to_excel('temp.xlsx', index=False, sheet_name = 'Students')

# you can check datasets directory, the datasets/temp.xlsx file has been created
data = pd.read_excel('temp.xlsx')
#data = pd.read_excel('temp.xlsx', sheet_name = 'Students')

# checking type of data
# You can see that the data is stored in type DataFrame
data

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
1,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
2,FDW12,NaN,Regular,0.035400,Baking Goods,144.5444,OUT027,1985,Medium,Tier 3,Supermarket Type3,4064.0432
3,FDC37,NaN,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,214.3876
4,FDC14,NaN,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362
...,...,...,...,...,...,...,...,...,...,...,...,...
3320,FDC28,7.905,Low Fat,0.054987,Frozen Foods,108.6254,OUT046,1997,Small,Tier 1,Supermarket Type1,1844.9318
3321,FDB17,13.150,Low Fat,0.036672,Frozen Foods,182.5976,OUT046,1997,Small,Tier 1,Supermarket Type1,4165.2448
3322,FDT34,9.300,Low Fat,0.174350,Snack Foods,104.4964,OUT046,1997,Small,Tier 1,Supermarket Type1,2419.5172
3323,FDF53,20.750,reg,0.083607,Frozen Foods,178.8318,OUT046,1997,Small,Tier 1,Supermarket Type1,3608.6360
3324,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700